<table>
<% for clip in list %>
  <tr>
    <td class="info"><%= clip_info clip %></td>
    <td class="title"><%=h clip.title %></td>
    <td class="description blog"><%= render_clip clip %></td>
  </tr>
<% end %>
</table>


