

html {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


a {text-decoration: none;}
a:hover {}
a.button {display: block; float: left; margin: 0.3em 0.1em; padding: 0.2em 0.8em 0.2em 0.8em;
    background-color: rgba(255, 255, 255, 0.8); -moz-border-radius: 0.2em; color: rgba(30, 40, 30, 0.7);}
a.button:hover {background-color: rgba(255, 255, 255, 0.9); color: rgba(30, 40, 30, 1);}

h1, h2, h3 {display: block; letter-spacing: -0.05em; line-height: 1em;
    color: rgba(255, 255, 255, 0.9);}

h1 { font-size: 3em;  margin: 0em 0 0.5em 20%; font-weight: bold;}

h2 { font-size: 1.5em; margin-top: 2em; padding: 0.5em 0 0.5em 20%;
    border-top: 1px solid rgba(30, 40, 30, 0.4); }

h3 {margin: 0 0 0.5em 20%; font-size: 1.5em;}
h3 a {color: rgba(255, 255, 255, 0.9);}

h1 a.button {float: none; display: inline; font-size: 0.5em;}

.notice {display: block; margin: 0 10%; padding: 0.2em 0.8em 0.2em 0.8em; text-align: center;
    background-color: rgba(255, 138, 0, 0.8); -moz-border-radius: 0.2em; color: rgba(30, 40, 30, 0.9);}

.page {width: 60em; margin: 2em auto;}

.navigation {width: 100%; overflow: hidden; margin-bottom: 2em;
    border-top: 1px solid rgba(30, 40, 30, 0.4); border-bottom: 1px solid rgba(30, 40, 30, 0.4);}
.navigation a {display: block; float: left; margin: 0.2em 1em; color: black;letter-spacing:-0.05em;}
.navigation a:hover {color: rgba(255, 255, 255, 0.8); margin-bottom: 0; border-bottom: 0.2em solid rgba(30, 40, 30, 0.4);}
.navigation .login {float: right; margin: 0.2em 1em 0 0;}
.navigation .login a {display: inline;  margin: 0; padding: 0; float: none; color: rgba(255, 255, 255, 0.8);}

.quick {float: right; margin-top: 3em; width: 18%;}
.content {width: 100%;}

.tags {float: right; width: 15%; font-size: 0.7em;}
.tags h1 {font-size: 1em; margin: 0; text-align: right; }
.tags ul {display: none; margin-bottom: 1em;}
.tags a {display: block; padding-left: 0.5em; 
    color: rgba(0, 0, 0, 0.7); border-bottom: 1px solid rgba(30, 40, 30, 0.4);
}
.tags a:hover {
    color: rgba(255, 255, 255, 0.7); background-color: rgba(0, 0, 0, 0.3);
}

.actions {width: 100%; overflow: hidden; margin-bottom: 2em; margin-top: -2em;}


p.help {clear: both; width: 60%; margin: 0.9em 0 0 20.5%;  font-size: 0.8em;
   color: rgba(255, 255, 65, 0.9);}
p.help a {color: rgba(255, 255, 65, 0.9); text-decoration: underline;}form input, form textarea {display: block; float: left;}
p.info {display: block; float:left; width: 60%; margin: 0.2em 0 0 0; color: rgba(0, 0, 0, 0.6); font-weight: bold;}
.text {margin-left: 20%; width: 60%;}

form label {display: block; float: left; width: 18%; margin-right: 2%; text-align: right; margin-top: 4px;}
form input[type=text], form input[type=password], form textarea  {width: 60%; border: 1px solid white; margin: 2px; padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);}
form select {width: 60%; margin: 0.3em 0; }
form select {width: 20%;}
form input.error {border: 1px solid #c00;}
form textarea {height: 10em;}
form input[type=submit] {margin-top: 0.5em;}
form br {clear: both;}
form a {font-size: 0.9em;}
form p.error {margin: 0 0 0 20.5%; color: #c00; clear: both;}

.wysiwyg {margin: 1em 0; background-color: rgba(255, 255, 255, 0.8);}

table { width: 100%;
    color: rgba(30, 40, 30, 0.6); }
tr {border-top: 1px solid rgba(30, 40, 30, 0.4);}
td {vertical-align: top; padding: 0.5em;}
td.info {text-align: right; width: 20%; font-size: 0.8em; font-weight: bold;}
td.info label {font-weight: normal;}
td.title  {padding: 0.25em 0; font-size: 2em; width: 30%; letter-spacing:-0.05em; line-height:1em;}
td.title a {color:rgba(30, 40, 30, 0.9); }
td.title a:hover {color:rgba(0, 10, 0, 0.9); }
td.description {font-size:0.75em; line-height:1.125em;}

td.blog {vertical-align: top;}
td.blog h1 {display: block; font-size: 1.5em; float: left; margin: 0 0.5em 0 0;
    color:rgba(30, 40, 30, 0.6); }

td.links a {font-size: 0.8em; display: block; float: left; margin: 0.2em; padding: 0em 0.8em 0.2em 0.8em;
    background-color: rgba(255, 255, 255, 0.8); -moz-border-radius: 0.2em; color: rgba(30, 40, 30, 0.9); }
td.links a:hover {background-color: rgba(255, 255, 255, 0.9); color: rgba(30, 40, 30, 1);}

table.calendar {width: 100%; border-collapse: separate; border-spacing: 5px;}
table.calendar tr {border-top: 0;}
table.calendar tr.names td {height: 1em; border-top: 0px; color: rgba(255, 255, 255, 0.9)}
table.calendar td.today {background-color: rgba(255, 225, 255, 0.3); border: 1px solid rgba(30, 40, 30, 0.6);}
table.calendar td {width: 11%;
    min-height: 10em;
    height: auto !important;
    height: 10em;
    padding: 0em 0 1em 0; border-top: 1px solid rgba(30, 40, 30, 0.4); margin-right: 0.5em;}
table.calendar p.number {float: left;}

.calendar td a.new_event {float: none; font-size: 0.7em; pading: 0.1em 1em; margin: 0 0 2px 0;
    background-color: rgba(255, 255, 255, 0.3);}
.calendar td a.new_event:hover {background-color: rgba(255, 255, 255, 0.8);}
.calendar td a.event {display: block; padding-left: 0.3em; font-size: 0.7em; color: rgba(0, 30, 0, 0.8);}
.calendar td a.event:hover { background-color: rgba(0, 0, 0, 0.1);}
.calendar a.peonadas {margin-top: 1em; border-bottom: 1px solid rgba(30, 40, 30, 0.6); }
.calendar a h1 {font-size: 1em; color: rgba(0, 30, 0, 0.8); margin: 0;}

.body {background-color: rgba(0,30,0,0.2); padding: 0.5em 2%; width: 57%;}