<h1>Crestiles y lechuginas</h1>

<table>
  <% for user in @users %>
    <tr>
      <td class="date"><p>hola</p></td>
      <td class="title"><%= link_to user.name, user %></td>
      <td class="description"><p><%= user.email %></p></td>
      <td class="links"><% for group in user.groups -%><%= link_to group.name, group %><% end -%></td>
    </tr>
  <% end %>
</table>

