
<div class="container head">
  <%= image_tag 'cyl_logo.jpg' %>
  <h1>Crestas y lechugas</h1>

  <p class="notice" style="clear:both; text-align: center;">Como puedes ver, estamos en construcción</p>
</div>
<div class="container separate">
  <p>Si eres de crestas y lechugas pincha <%= link_to 'aqui', cyl(:dashboard) %> para entrar en la web</p>
</div>

<div class="container">
  <div class="blog">
    <% for blog in Clip.posts %>
      <div class="post">
        <h2><%= blog.document.title %></h2>
        <div class="body"><%= blog.document.render %></div>
      </div>
    <% end %>
  </div>
</div>


<div class="container separate">Haz de este un mundo mejor!<br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/es/">
    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/es/88x31.png" />
  </a>.
</div>