<div class="actions">
  <%= link_to 'Tus datos', @current, :class => 'button'  %>
</div>

<h1>Actividad en tus grupos</h1>

<% for group in @current.groups %>
<h2><%= group.name %></h2>
<%= render :partial => '/clips/list', :object => group.clips %>
<% end -%>
<h2>Bandeja de entrada</h1>
