<div class="actions">
  <%= link_to 'Tus datos', @current, :class => 'button'  %>
  <%= link_to 'Nuevo mensaje', {:action => 'message_new'}, :class => 'button' %>
  <%= link_to 'Crear entrada de blog', cyl(:blog_new), :class => 'button' %>
</div>

<h1>Pendientes de leer</h1>
<%= render :partial => '/clips/list', :object => @current.clips %>
