<div class="actions">
  <%= link_to 'Crear mensaje', {:action => 'message_new'}, :class => 'button' %>
</div>

<h1>Todos los mensajes</h1>
<%= render :partial => 'message_list', :object => Clip.messages %>