<h1>Pónete una contraseña</h1>

<% form_tag :action => 'change_password' do %>
  <%= flash_div :error %>
  <p>Por favor, no te pongas el nombre como contraseña, ánda...</p>
  <label>Tu contraseña:</label><%= password_field_tag :pass %><br/>
  <label>Repítela, plis:</label><%= password_field_tag :pass2 %><br/>
  <label>&nbsp;</label><%= submit_tag 'Cambiar' %><br/>
<% end -%>

